<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card id="carta">
        <img src="../assets/perfil.jpg">
        <ion-card-header>
          <ion-card-title>{{this.usuarios.nombre}}   {{this.usuarios.apellido}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{this.usuarios.nombreUsuario}}<br>
          {{this.usuarios.rol}}
        </ion-card-content>
      </ion-card>
  </div>
</ion-content>

<app-footer></app-footer>