#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display:grid;
    grid-template-columns: auto auto;
  }

  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container a {
    text-decoration: none;
  }
  
  .scaled {
    transform: scale(0.95);
  }

  #p{
    text-align: center;
}
h1{
  text-align:center;
  font-family:Serif;
}